body {
  color: #ffff00;
  background-color: #007f7f;
}
h1 {
  color: #ff0000;
  font-family: "GungsuhChe", "궁서체", sans-serif;
}
img {
  width: 100%;
}
header {
  background-color: #fccf03;
  color: #000000;
}
nav {
  padding: 40px;
  background-color: #00ff00;
}
section {
  background-image: linear-gradient(to bottom, #a85f00 , #000000);
}
article {
  background-color: #fceed7;
  color: ffff7f;
  width: 70%;
  padding: 50px;
}
article p {
    font-family: "GulimChe", "굴림체", sans-serif;
}
