body {
  color: #ffff00;
  background-color: #007f7f;
}
h1 {
  color: #ff0000;
}
img {
  width: 100%;
}
header {
  background-color: #fccf03;
  color: #000000;
}
nav {
  padding: 40px;
  background-color: #00ff00;
}
article {
  background-image: linear-gradient(to bottom, #a85f00 , #000000);
  color: :ffff7f;
}
