body {
  color: #ffff00;
  background-color: #007f7f;
}
h1 {
  color: #ff0000;
  font-family: "GungsuhChe", "궁서체", sans-serif;
}
img {
  width: 100%;
}
header {
  background-color: #000000;
  color: #ff0000;
}
header h1 {
  text-shadow: 0 0 10px #ff8080, 0 0 20px #d66b6b, 0 0 30px #b85c5c, 0 0 40px #944a4a, 0 0 50px #6e3737, 0 0 60px #4a2525, 0 0 70px #291414;
  font-size: 5%px;
  text-align: center;
}
nav {
  padding: 40px;
  background-color: #00ff00;
}
section {
  background-image: linear-gradient(to bottom, #a85f00 , #000000);
}
article {
  background-color: #fceed7;
  color: ffff7f;
  width: 70%;
  padding: 50px;
}
article p {
    font-family: "GulimChe", "굴림체", sans-serif;
}
